<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ViewController</key>
	<dict>
		<key>GLLoggingTrackedEvents</key>
		<array>
			<dict>
				<key>GLLoggingEventName</key>
				<string>点击了带一个控制器</string>
				<key>GLLoggingFuncName</key>
				<string>pushVC</string>
				<key>GLLoggingSelectorName</key>
				<string>pushVC</string>
			</dict>
		</array>
	</dict>
	<key>TextViewController</key>
	<dict>
		<key>GLLoggingTrackedEvents</key>
		<array>
			<dict>
				<key>GLLoggingEventName</key>
				<string>dismiss 掉当前控制器</string>
				<key>GLLoggingFuncName</key>
				<string>dismissVC:</string>
				<key>GLLoggingSelectorName</key>
				<string>dismissVC:</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
